<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/referral.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div data-ng-if="referralList.length > 0">
  <table>
      <tr>
      	<td><b>Candidate Id</b></td>
        <td><b>Name</b></td>
        <td><b>Email</b></td>
        <td><b>Phone</b></td>
        <td><b>Alternate Number</b></td>
        <td><b>Experience</b></td>
        <td><b>Role</b></td>
        <td><b>Resume</b></td>
        <td></td>
      </tr>
      <tr data-ng-repeat="candidate in referralList">
      	<td>{{candidate.candidateId}}</td>
		<td>{{candidate.name}}</td>
		<td>{{candidate.email}}</td>
		<td>{{candidate.phone}}</td>
		<td>{{candidate.alternateNumber}}</td>
		<td>{{candidate.experience}}</td>
		<td>{{candidate.role}}</td>
		<td><a href="" target="_blank" data-ng-click="downloadCandidateResume(candidate.id)"><span class="glyphicon glyphicon-download-alt"></span>{{candidate.resume}}</a></td>
		<td data-ng-if="!candidate.isChecked && designation == 'HR'"><a href="#" data-ng-click="sendCallLetter(candidate.id)" title="Send Call Letter"><span class="glyphicon glyphicon-ok"></span></a>
		&nbsp;&nbsp;<a href="#" data-ng-click="rejectCandidate(candidate.id)" title="Reject"><span class="glyphicon glyphicon-remove"></span></a></td>
		<td data-ng-if="designation != 'HR' || candidate.isChecked">{{candidate.status}}</td>
	  </tr>
  </table>
  <div style="text-align:right;margin-right:20%">
	  <ul class="pagination">
		  <li data-ng-repeat="i in getNumber(noOfPages) track by $index"><a href="#/getAllReferrals" data-ng-click="getAllReferrals($index)">{{$index+1}}</a></li>
	  </ul>
  </div>
</div>
<!-- <div data-ng-if="referralList.length == 0" style="text-align:center;font-size:30px">
No records found<br/>
<span><a href="index.html#/addNewReferral">Add New</a></span>
</div> -->
</body>
<script src="referral.js"></script>
</html>